################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projekat/IP_aplikacija/.vs/IP_aplikacija/FileContentIndex
/Projekat/IP_aplikacija/DatabaseBroker/obj/Debug/net8.0
