#modal[b-ffnia37fwa] {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-25%, -50%);
    width: 300px;
    text-align: center;
    border: 1px solid #62A5B3;
    background-color: #FFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 999;
    border-radius: 5px;
}

#modal-message[b-ffnia37fwa] {
    margin: 40px 0;
    padding: 0 30px;
}